@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 20px;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

button {
    border: none;
    outline: none;
    font-family: 'Public Sans', sans-serif;
    margin: 20px;
    padding: 12px 20px;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    background-color: #096bde;
    color: #fffbfe;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
        transition: 0.25s;
    }
}